.next-devtools-container {
  --next-devtools-widget-bg: #f7f8f6;
  --next-devtools-widget-bg-hover: #f7f8f690;
  --next-devtools-widget-border: rgba(0, 0, 0, 0.08);
  --next-devtools-widget-shadow: rgb(0, 0, 0, 0.2);
  --next-devtools-primary-color: #c391e6;
  --next-devtools-primary-light-color: #c391e690;
  --next-devtools-mini-toolbar-height: 42px;

  position: fixed;
  z-index: 2147483645;
}

.next-devtools-frame {
  position: fixed;
  z-index: -1;
  pointer-events: auto;
}
.next-devtools-frame[data-position='bottom'] {
  max-height: 90%;
  min-height: 42px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
}
.next-devtools-frame[data-position='top'] {
  max-height: 90%;
  min-height: 42px;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
}
.next-devtools-frame[data-position='left'] {
  max-width: 90%;
  min-width: 42px;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
}
.next-devtools-frame[data-position='right'] {
  max-width: 90%;
  min-width: 42px;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
}

.next-devtools-frame-handle {
  position: absolute;
  background-color: var(--next-devtools-widget-border);
  z-index: 1;
  transition: background-color height 0.2s ease-in-out;
}
.next-devtools-frame-handle[data-position='bottom'] {
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
}
.next-devtools-frame-handle[data-position='top'] {
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
}
.next-devtools-frame-handle[data-position='left'] {
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
}
.next-devtools-frame-handle[data-position='right'] {
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
}
.next-devtools-frame-handle:hover,
.next-devtools-frame-handle.resizing {
  background-color: var(--next-devtools-primary-color);
}
.next-devtools-frame-handle[data-position='bottom']:hover,
.next-devtools-frame-handle[data-position='bottom'].resizing,
.next-devtools-frame-handle[data-position='top']:hover,
.next-devtools-frame-handle[data-position='top'].resizing {
  height: 4px;
}
.next-devtools-frame-handle[data-position='left']:hover,
.next-devtools-frame-handle[data-position='left'].resizing,
.next-devtools-frame-handle[data-position='right']:hover,
.next-devtools-frame-handle[data-position='right'].resizing {
  width: 4px;
}

.next-devtools-iframe {
  display: block;
  width: 100%;
  height: 100%;
  box-shadow:
    0 2px 15px -3px var(--next-devtools-widget-shadow),
    0 4px 6px -4px var(--next-devtools-widget-shadow);
  pointer-events: auto;
}
