.sh__line {
  display: block;
}

pre code {
  counter-reset: sh-line-number;
}

.sh__line.sh__line-number::before {
  counter-increment: sh-line-number 1;
  content: counter(sh-line-number);
  margin-right: 24px;
  text-align: right;
  color: #8f8f9980;
}
